.App {
  text-align: center;
}

.App .item-todo {
  padding: 14px;
  width: 40%;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  background:white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color:black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.App .item-todo .item-text {
  display: inline-block;
  cursor: pointer;
}

.App input {
  width: 40%;
  padding: 14px 32px 14px 16px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 2px solid grey;
  outline: none;
  background: transparent;
  
}

.App button {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 14px 32px 14px 16px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: white;
  border: 2px solid grey;
  color:black;
  text-transform: capitalize;
}

.App .item-todo .item-delete {
  display: inline-block;
  cursor: pointer;
  float: right;
  font-size: 22px;
  position: relative;
  left: -4px;
  bottom: 5px;
}

.strike {
  text-decoration: line-through;
}

.list{
  list-style: none;
}
